<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis Hechos - MetaMapa</title>

    <!-- HEAD GLOBAL -->
    <th:block th:replace="fragments/head :: head"></th:block>

    <link th:href="@{/css/solicitudesAdminYContribuyente.css}" rel="stylesheet">
</head>
<body>

<th:block th:replace="fragments/header :: header"></th:block>

<div class="container my-4">
    <h3 class="mb-4">Mis Hechos</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Fecha</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="h : ${hechos}">
                <td th:text="${h.titulo}"></td>
                <td th:text="${h.descripcion}"></td>
                <td th:text="${h.fecha}"></td>
            </tr>

            <tr th:if="${#lists.isEmpty(hechos)}">
                <td colspan="3" class="text-center p-4 text-muted">Todavía no cargaste hechos.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>

</body>

</html>