<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Colección - MetaMapa</title>

    <!-- HEAD GLOBAL -->
    <th:block th:replace="fragments/head :: head"></th:block>

    <link rel="stylesheet" th:href="@{/css/inicioAdminYContribuyente.css}">
</head>
<body>

<th:block th:replace="fragments/header :: header"></th:block>

<main class="container my-5">
    <h3>Editar Colección</h3>

    <form th:action="@{'/colecciones/editar/' + ${form.id}}"
          method="post" th:object="${form}"
          class="card p-4 shadow-sm">

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" th:field="*{titulo}" class="form-control" required maxlength="100">
        </div>

        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" th:field="*{descripcion}" rows="3"></textarea>
        </div>

        <div class="text-end">
            <button class="btn btn-primary">Guardar cambios</button>
        </div>

    </form>
</main>

<th:block th:replace="fragments/footer :: footer"></th:block>

</body>
</html>